# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de configuración local y credenciales
.env
.env.*
sunflower_unified/
!.env.example
!**/.env.example

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# DATASET (Ignorar las descargas locales de Roboflow)
/datasets/
*-dataset/
*.zip
*.tar.gz

# Modelos y entrenamiento
*.pt
*.onnx
/models/
runs/             
**/temp_* 
*.cache

# Python / OS
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
