# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de configuración local y credenciales
.env
.env.*
!.env.example
!**/.env.example

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# DATASET (Ignorar las descargas locales de Roboflow)
/datasets/
*-dataset/
*.zip
*.tar.gz

# Modelos y entrenamiento
*.pt
*.onnx
/models/
**/temp_* 
*.cache

# Python / OS
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
/runs/

# Excepción: pesos de ejemplo en la carpeta models/
!models/**/*.pt

# Dataset descargado localmente
Sunflower-1/
sunflower_unified/

# Logs y runs de wandb
wandb/
*.log
